// Gradients colors
$gradient-primary: linear-gradient(to right top, #1b0537, #2f0c60, #46108c, #5f12ba, #7a12eb);

// Colors
$white: #ffffff;

// Palete colors
$color__one: #111d5e;
$color__two: #b21f66;
$color__three: #fe346e;
$color__four: #ffbd69;
